.carousel-item {
  text-align: center;
  height: 500px;
  width: 100%;
  background: #777;
}

.fav-offer-box {
    width: 250px;
    max-height: 350px;

}

.inst_price {
  position: relative;
  overflow: hidden;
  width: fit-content;
  color: gray;
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1.5px;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    background: rgba(0, 0, 0, 0.52);
  }
}

.imgContainer {
  min-height: 70%;
}

.icon {
  width: 20px;
}

.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shop-now {
  cursor: pointer;
&:hover {
  background: #000;
  color: #fff;
}
}
.imgContainer {
    // background-color: rgba(0, 0, 0, 0.277);
    border-radius: 15px;
    cursor: pointer;
  overflow: hidden !important;
}
@media (max-width: 1030px) {

    .offers-boxes {
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (max-width: 570px) {
    h4 {
        font-size: 1.1rem !important;
    }
    .fav-offer-box {
        width: 200px !important;
    }
    .offers-boxes {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

