
@media (max-width: 755px) {
    .categories {
        gap: 1rem;
      flex-wrap: wrap;
    }
    .category-img {
        width: 150px !important;
        height: 150px !important;
    }
}

.categories {
  background: #fffde6;
}
.category-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
