
.mySlider {
  height: 250px;
  flex: 1 1 0%;
  white-space: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}
  .slider-btn {
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    padding: 0.5rem;

    img {
      width: 24px;
    }
    &.right {
      right:  10px;
    }
    &.left {
      left: 10px;
      top: 40%;
      transform: rotate(180deg);
    }
    .slide {
      min-width: 100%;
    }
  }

img {
  object-fit: cover;
}
