<div class="offers">
  <div>
    <img src="https://f.nooncdn.com/cms/pages/20220915/db40b276b580ce6c408b1a1b90dec594/ar_dk_eg-toggle-01.png"
   class="ads-header w-100" alt="">
  </div>

  <swiper
  *ngIf="myData && myData.getMostOrderedBranch" 
    [navigation]="true"
    class="mySwiper"
    [config]="config"
    
  >

      <ng-template  id="mySlider" swiperSlide *ngFor="let offer of myData.getMostOrderedBranch.data">
        <div class="slide  swiper-slide"  swiperSlide>
          <img class="w-100 h-100" src="https://satatechnologygroup.net:3301/{{offer.cover}}" />
        </div>
      </ng-template>


  </swiper>

  <!-- <div *ngIf="myData && myData.getMostOrderedBranch" class="slider-wrapper position-relative">
    <div class="mySlider w-100 overflow-hidden position-relative" id="mySlider">
      <div class="slide w-100 h-100 text-center my-0 mx-auto d-inline-flex align-items-center justify-content-center overflow-hidden" *ngFor="let offer of myData.getMostOrderedBranch.data" swiperSlide>
        <img class="w-100 h-100" src="https://satatechnologygroup.net:3301/{{offer.cover}}" />
      </div>
    </div>
    <button class="slider-btn p-2 rounded-circle position-absolute right" (click)="slide('right')">
      <img src="../../../assets/imgs/arrow.png" alt="">
    </button>
    <button class="slider-btn position-absolute left rounded-circle"  (click)="slide('left')">
      <img src="../../../assets/imgs/arrow.png" alt="">
    </button>
  </div> -->

</div>
