<div class="offers">
  <div>
    <img src="https://f.nooncdn.com/cms/pages/20220915/db40b276b580ce6c408b1a1b90dec594/ar_dk_eg-toggle-01.png"
   class="ads-header w-100" alt="">
  </div>

  <swiper
  *ngIf="myData && myData.getMostOrderedBranch"
    [navigation]="true"
    class="mySwiper"
    [config]="config">

      <ng-template  id="mySlider" swiperSlide *ngFor="let offer of myData.getMostOrderedBranch.data">
        <div class="slide  swiper-slide"  swiperSlide>
          <img class="w-100 h-100" src="https://satatechnologygroup.net:3301/{{offer.cover}}" />
        </div>
      </ng-template>
  </swiper>


</div>
