<div class="sub-nav-link position-absolute d-flex flex-row  bg-white pt-4">
    <ul class="sub-nav-link-container py-2 d-flex flex-column gap-2 px-4 mb-3">
        <h4 class="fw-bold">الفئات</h4>
        <li class="nav-link link " *ngFor="let item of data">
            <a href="" class="text-decoration-none text-dark fw-normal">{{item}}</a>
        </li>
    </ul>
    <div class="pics py-2 d-flex flex-column ">
        <h4 class="fw-bold mb-4">أفضل الماركات</h4>
        <div class="all-pics">
            <div class="pics-container d-grid gap-2 justify-content-between">
                <div class="imgContainer border border-1 d-flex justify-content-center" *ngFor="let pic of pics" >
                    <img  src="{{pic}}" class="w-75 h-100" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
