.sub-nav-link {
  top: 100%;
  right: 0;
  z-index: 999;
  width: 100%;
}

.pics-container {
  grid-template-columns: repeat(2,1fr);
  img {
    width: 80%;
    max-width: 200px;
    object-fit: cover;
    max-height: 200px;

  }
}

@media (min-width: 700px) {
  .pics-container {
    grid-template-columns: repeat(3,1fr);
  }
  .sub-nav-link {
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 460px) {
  .sub-nav-link {
    flex-direction: column !important;
  }
  img {
    max-width: 100px;
    max-height: 100px;

  }

  .pics {
    padding: 0 1.5rem;
    .all-pics {
      justify-content: center;
      align-items: center;
    }
  }

}
